*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

.screen{
    height: 100vh;
    width: 100%;
    background-color: #2B2D42;
    padding: 20px;
}
input{
    padding-left: 10px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid grey;
    background: transparent;
    outline: none;
}
input::placeholder{
    color: white;
}