*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(49, 48, 48);
    color: white;
}
input{
    height: 25px;
    background: transparent;
    border: 1px solid rgb(243, 238, 238);
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
input::placeholder{
    color: white; 
}
.submit{
    background-color: aqua;
}