<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <div>
        <a href="/read">read user</a>
        <h1 style>Update user</h1>
        <form action="/update/<%= user._id %>" method="post">
            <input type="text" placeholder="name" name="name" value="<%= user.name %>">
            <input type="text" placeholder="email" name="email" value="<%= user.email %>">
            <input type="text" placeholder="image url" name="image" value="<%= user.image %>">
            <input style="background-color: yellow; color: black; padding-right: 9px;" class="white" type="submit" value="update">
        </form>
    </div>
</body>
</html>