<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <div>
        <a href="/read">read user</a>
        <h1 style>create user</h1>
        <form action="/create" method="post">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="email" name="email">
            <input type="text" placeholder="image url" name="image">
            <input class="white" type="submit" value="create user">
        </form>
    </div>
</body>
</html>